.container {
  background-color: #ffffffa4;
  height: 40%;
  /* width: 55%; */
  overflow: hidden;
  padding: 5%;
  font-family: Arial, sans-serif;
  box-shadow: 4px 4px 8px rgba(67, 67, 67, 0.334);
  border-radius: 10px;
	display: flex;
}
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		display: block;
	}
}
.form {
	min-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input[type="text"],[type="number"]{
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.27);
}
.base {
	/* height: 25vh; */
  padding: 1%;
  border: 1px solid rgba(0, 11, 128, 0.248);
  border-radius: 5px;
}
#infoLabel {
  font-size: 24px;
	text-transform: capitalize;
}
.inputGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.subjectContainer {
	/* height: 75vh;
	overflow-y: scroll; */
  padding: 1%;
  border: 1px solid rgba(0, 11, 128, 0.248);
  border-radius: 5px;
}
.subjectGroup {
  background-color: #ffffffa4;
  border: 1px solid rgba(0, 11, 128, 0.248);
  padding: 5%;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
}
.label {
  margin-bottom: 5px;
}
.input {
  padding: 5px;
  font-size: 16px;
}
.button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
.table {
  width: 60%;
  text-align: left;
	margin-left: 5%;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
